<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="picture.ico" type="image/x-icon"/>
  <title>Document</title>
  <style>
    .main {
      text-align: center;
    }

    .not1 {
      font-size: 40px;
      font-weight: 700;
    }

    .not2 {
      margin: 10px 0px;
    }

    img {
      width: 500px;
      height: 700px;
    }
  </style>
</head>

<body>
  <div class="main">
    <br>
    <span class="not1">not fond</span>
    <br>
    <br>
    <span class="not2">Route not found!</span>
    <br>
    <br>
    <img src="/image/404.png" alt="404 not fond">
  </div>
</body>

</html>